
<div class="columns is-multiline">
  <div class="column is-one-quarter">
    <div class="card">
            <div class="card-image">
        <figure class="image is-4by3">
          <a href="/moods?mood=SUS">
          <img
            src="https://live.staticflickr.com/4538/38441798791_4e43fb2ea0_b.jpg"
            alt="Placeholder image"
          />
          </a>
        </figure>
      </div>

      <div class="card-content">
        <div class="media">
          <div class="media-left">
            <figure class="image is-48x48">
              <img
                src="https://live.staticflickr.com/4538/38441798791_4e43fb2ea0_b.jpg"
                alt="Placeholder image"
              />
            </figure>
          </div>
          <div class="media-content">
            <p class="title is-4">SUS</p>
          </div>
        </div>
        <div class="content">
Step into a world of intrigue and deception where nothing is as it seems. This set of games immerses players in a high-stakes environment of spies and schemers, where every move is shrouded in suspicion and every interaction could be a façade.
        </div>
      </div>
    </div>
  </div>
  <!-- Repeat for other cards -->

  <div class="column is-one-quarter">
    <div class="card">
      <div class="card-image">
        <figure class="image is-4by3">
          <a href="{{Spoopy}}"></a>
          <a href="/moods?mood=Spoopy">
          <img
            src="https://img.goodfon.com/original/6000x3375/1/66/until-dawn-horror-game.jpg"
            alt="Placeholder image"
          />
          </a>
        </figure>
      </div>
      <div class="card-content">
        <div class="media">
          <div class="media-left">
            <figure class="image is-48x48">
              <img
                src="https://img.goodfon.com/original/6000x3375/1/66/until-dawn-horror-game.jpg"
                alt="Placeholder image"
              />
            </figure>
          </div>
          <div class="media-content">
            <p class="title is-4">Spoopy</p>
          </div>
        </div>
        <div class="content">
Enter a chilling world where every shadow hides a sinister secret. This set of games plunges players into eerie, unsettling environments where fear and suspense reign supreme. Whether you're exploring haunted landscapes, solving chilling mysteries, or surviving terrifying encounters, the atmosphere is thick with dread and anticipation.
        </div>
      </div>
    </div>
  </div>

  <div class="column is-one-quarter">
    <div class="card">
      <div class="card-image">
        <figure class="image is-4by3">
          <a href="{{Heroic}}"></a>
          <a href="/moods?mood=Heroic">
          <img
            src="https://bulma.io/assets/images/placeholders/1280x960.png"
            alt="Placeholder image"
          />
          </a>
        </figure>
      </div>
      <div class="card-content">
        <div class="media">
          <div class="media-left">
            <figure class="image is-48x48">
              <img
                src="https://bulma.io/assets/images/placeholders/96x96.png"
                alt="Placeholder image"
              />
            </figure>
          </div>
          <div class="media-content">
            <p class="title is-4">Heroic</p>
          </div>
        </div>
        <div class="content">
Immerse yourself in a world where bravery and heroism define the journey. This set of games invites players into an epic realm filled with grand adventures and noble quests. Whether you're navigating vast virtual landscapes, strategizing on a game board, or embarking on a cooperative mission, the atmosphere is charged with a sense of purpose and valor.
        </div>
      </div>
    </div>
  </div>


  <div class="column is-one-quarter">
    <div class="card">
      <div class="card-image">
        <figure class="image is-4by3">
          <a href="{{Survival}}"></a>
          <a href="/moods?mood=Survival">
          <img
            src="https://bulma.io/assets/images/placeholders/1280x960.png"
            alt="Placeholder image"
          />
          </a>
        </figure>
      </div>
      <div class="card-content">
        <div class="media">
          <div class="media-left">
            <figure class="image is-48x48">
              <img
                src="https://bulma.io/assets/images/placeholders/96x96.png"
                alt="Placeholder image"
              />
            </figure>
          </div>
          <div class="media-content">
            <p class="title is-4">Survival</p>
          </div>
        </div>
        <div class="content">
Enter a relentless world where survival is the ultimate test of skill and resolve. This set of games thrusts players into intense, high-stakes environments where every moment counts and danger is ever-present. Whether you're navigating treacherous terrains, battling hostile forces, or scavenging for scarce resources, the atmosphere is one of constant tension and urgency.
        </div>
      </div>
    </div>
  </div>
{{!-- 
   <div class="column is-one-quarter">
    <div class="card">
      <div class="card-image">
        <figure class="image is-4by3">
          <a href="{{Happily-Self-Sufficient}}"></a>
          <a href="/moods?mood=Happily-Self-Sufficient">
          <img
            src="https://bulma.io/assets/images/placeholders/1280x960.png"
            alt="Placeholder image"
          />
          </a>
        </figure>
      </div>
      <div class="card-content">
        <div class="media">
          <div class="media-left">
            <figure class="image is-48x48">
              <img
                src="https://bulma.io/assets/images/placeholders/96x96.png"
                alt="Placeholder image"
              />
            </figure>
          </div>
          <div class="media-content">
            <p class="title is-4">Happily Self-Sufficient</p>
          </div>
        </div>
        <div class="content">
Step into a world crafted for a solo adventure where the experience is uniquely yours. This set of games is designed to immerse you completely in a journey that unfolds at your own pace, allowing you to delve into rich narratives, explore intricate environments, and tackle challenges entirely on your own.
        </div>
      </div>
    </div>
  </div>


   <div class="column is-one-quarter">
    <div class="card">
      <div class="card-image">
        <figure class="image is-4by3">
          <a href="{{Inquisitive}}"></a>
          <a href="/moods?mood=Inquisitive">
          <img
            src="https://bulma.io/assets/images/placeholders/1280x960.png"
            alt="Placeholder image"
          />
          </a>
        </figure>
      </div>
      <div class="card-content">
        <div class="media">
          <div class="media-left">
            <figure class="image is-48x48">
              <img
                src="https://bulma.io/assets/images/placeholders/96x96.png"
                alt="Placeholder image"
              />
            </figure>
          </div>
          <div class="media-content">
            <p class="title is-4">Inquisitive</p>
          </div>
        </div>
        <div class="content">
Dive into a world of intellect and ingenuity with this set of games dedicated to trivia and puzzle solving. Whether you’re testing your knowledge, unraveling complex riddles, or piecing together intricate challenges, the experience is designed to stimulate your mind and provide endless mental engagement.
        </div>
      </div>
    </div>
  </div> --}}
</div>